		<script>
            Modernizr.load({
                test: Modernizr.csstransforms3d,
                yep : ["<%= thisParam.host %>static/app.min.js",  "<%= thisParam.host %>static/lib/easeljs-0.7.1.min.js", "<%= thisParam.host %>static/lib/preloadjs-0.4.1.min.js", "<%= thisParam.host %>static/lib/tweenjs-0.5.1.min.js"],
                nope: ["<%= thisParam.host %>static/app.ie.min.js", "<%= thisParam.host %>static/lib/easeljs-0.7.1.min.js", "<%= thisParam.host %>static/lib/preloadjs-0.4.1.min.js", "<%= thisParam.host %>static/lib/tweenjs-0.5.1.min.js"],
                complete: function(){
                    $document = $(document);
                    $window = $(window);
                    window.THIS = {};
					window.THIS.HOST = '<%= thisParam.host %>';
                    window.THIS.CDN_PREFIX = '<%= thisParam.cdn_prefix %>';
                    <% if(typeof pageJs != "undefined") { %>
                    	Modernizr.load({
	                        load: [
	                        '<%= thisParam.host %>static/js/sjs/pages/<%= pageJs %>.js'
	                        ],
	                        complete: function(){
	                            seajs.use("js/sjs/pages/<%= pageJs %>");
	                        }
	                    });
                    <% } %>
                }
            });
        </script>
	</body>
</html>